* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}
section {
    padding: 1rem;
    position: relative;
    /* border: solid #000; */
}
section.bg{
    background: url("https://images.unsplash.com/photo-1517816743773-6e0fd518b4a6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80") top center ;
    background-size: cover;
}
a.btn-primary {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    background-color: rgb(0, 180, 165, 0.7);
    border-radius: 0.8rem;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
    border: 0px;
    margin-top: 0.1rem;
}
a.btn-primary:hover{
    color: rgb(0, 0, 0, 0.7);
    background-color: rgb(0, 180, 165);
    cursor: pointer;
}
.text-center {
    text-align: center;
}
.center {
    display: block;
    margin: auto;
    max-width: 50%;
}
.text-justify {
    text-align: justify;
}
.text-white {
    color: #fff;
}
.bg-color1 {
    background-color: #00B4A5;
}
.bg-color2 {
    background-color: #008F9F;
}
.rounded {
    border-radius: 0.8rem;
}

/* ----------------------------------------
# Indice - design
---------------------------------------- */
section.indice ul {
    margin-left: -2rem;
}
section.indice ul li {
    margin: 0.8rem;
}
section.indice ul li a {
    font-size: 1.5rem;
}
section.indice ul li a:hover {
    color: #ff0000;
}
section.indice h2 {
    margin: 0;
}

/* ----------------------------------------
# Indice More - design
---------------------------------------- */
section.more h2 {
    margin: 0;
}

/* ----------------------------------------
# Indice Novelties - design
---------------------------------------- */
section.novelties h2{
    margin: 0;
}

/* ----------------------------------------
# Flex - design
---------------------------------------- */
.main-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 7rem 0 7rem;
}
.main {
    flex: 65%;
    background-color: white;
    padding: 20px;
}
aside {
    flex: 35%;
    background-color: #f1f1f1;
    padding: 20px;
    height: 100%;
    margin-top: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%), 0px 0px 7px 5px rgb(0 0 0 / 10%);
}
.content {
    display: flex;
    flex-wrap: wrap;
}
.container {
    padding: 1rem;
}
.container.size-1 {
    flex: 25%;
}
.container.size-2 {
    flex: 50%
}
.container.size-3 {
    flex: 75%
}
.container.size-4{
    flex: 100%
}
@media screen and (max-width: 800px) {
    .content {
      flex-direction: column;
    }
}

/* ----------------------------------------
# Lists - design
---------------------------------------- */
li span {
    font-weight: bold;
    text-transform:uppercase;
}
ol li span {
    font-weight: bold;
}

/* ----------------------------------------
# Table - design
---------------------------------------- */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
    border: 0.2rem solid #000;
}
table thead tr th.table-title {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
table caption {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
table tbody tr td {
    font-size: 1.2rem;
}
table tfoot {
    font-size: 1.5rem;
}
table tfoot tr td {
    padding: 1rem;
}
table tbody tr td {
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
}
table tfoot tr td {
    text-align: center;
    padding: 0.2em;
}
.table-image {
    display: block;
    margin: auto;
    border-radius: 2rem;
    padding: 1rem;
    width: 16rem;
    height: 11rem;
}

/* ----------------------------------------
# Card 1 - design
---------------------------------------- */
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    margin: 0.5rem;
    width: 12rem;
    height: 12rem;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.1), -5px -5px 30px 7px rgba(0,0,0,0.1);
}

.card .card-image {
    width: inherit;
    height: inherit;
    border-radius: 0.8rem;
}
.card .card-image img {
    width: inherit;
    height: inherit;
    border-radius: 0.8rem;
    object-fit: cover;
}
.card .card-title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-top: -5rem;
    height: 40px;
    transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    text-shadow: 0rem 0rem 1rem black, 0 0 1rem black, 0 0 1rem black;
}
.card .card-button {
    margin-top: 0;
    text-align: center;
    display: none;
}
.card:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.15), -5px -5px 30px 15px rgba(0,0,0,0.15);
    cursor: default;
}
.card:hover .card-title {
    margin-top: -9rem;
    transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    margin-bottom: 1.5rem;
}
.card:hover .card-button {
    display: block;
}

/* ----------------------------------------
# Card 2 - design
---------------------------------------- */
.card2 {
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.1), -5px -5px 30px 7px rgba(0,0,0,0.1);
    padding: 1rem;
}
.card2 .card-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}
.card2 .card-description {
    font-weight: bold;
    font-size: 1rem;
}
.card2:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.15), -5px -5px 30px 15px rgba(0,0,0,0.15);
}
.card2 ul {
    padding-right: 1.5rem;
}

/* ----------------------------------------
# Card 3 - design
---------------------------------------- */
.card3 {
    margin: 1.5rem;
    width: 20rem;
    height: 20rem;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.1), -5px -5px 30px 7px rgba(0,0,0,0.1);
}
.card3 .card-image {
    width: inherit;
    height: inherit;
    border-radius: 0.8rem;
}
.card3 .card-image img {
    width: inherit;
    height: inherit;
    border-radius: 0.8rem;
    object-fit: cover;
}
.card3 .card-title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-top: -10rem;
    height: 40px;
    text-shadow: 0rem 0rem 1rem black, 0 0 1rem black, 0 0 1rem black;
    transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.card3 .card-description {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 50px;
    height: 1rem;
    display: none;
    text-shadow: 0rem 0rem 1rem black, 0 0 1rem black, 0 0 1rem black;
    padding: 1rem;
}
.card3:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
        -5px -5px 30px 15px rgba(0,0,0,0.22);
}
.card3:hover .card-description {
    display: block;
}
.card3:hover .card-title {
    margin-top: -21rem;
    transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* ----------------------------------------
# Card 4 - design
---------------------------------------- */
.card4 {
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}
.card4 p {
    position: relative;
    margin: 1rem 0 0;
}
.card4:hover .image {
    transform: scale(1.2) rotate(3deg);
    opacity: 1;
}
.card4 .card-image {
    position: relative;
    z-index: 0;
    height: 10rem;
}
.card4 .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: 0.7s;
    opacity: 0.9;
}
.card4 .card-description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}
.card4 .card-description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}
.card4 .card-description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
}

/* ----------------------------------------
# Header
---------------------------------------- */
#header {
    transition: all 0.5s;
    z-index: 999;
    padding: 15px 0;
    position: fixed;
    height: 5rem;
    width: 100%;
}
#header a#logo-header {
    color: #fff;
}
#header.header-transparent {
    background: transparent;
}
#header.header-scrolled {
    padding: 0;
    background: #00D893;
}
#header a {
    font-size: 1.3rem;
    font-weight: 600;
}
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
#logo-header:hover {
    cursor: default;
}
#logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}
#logo-header .site-description {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
}
@media (max-width: 768px) {
    #header.header-scrolled {
      padding: 15px 0;
    }
}

/* ----------------------------------------
# Navbar
---------------------------------------- */
nav {
    float: right;
}
nav ul {
    padding: 0;
    list-style: none;
    padding-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 3rem;
}
nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 0.8rem;
}
nav ul li a:hover {
    background: #00B4A5;
}
nav ul li ul {
    display: none;
    position:absolute;
}
nav ul li:hover > ul {
    display: block;
    inline-size: min-content;
    background: #fff;
    box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
    transition: ease all 0.3s;
    border-radius: 0.8rem;
    padding: 0 0 0 0;
}
nav ul li ul li{
    position:relative;
    align-items: center;
}
nav ul li ul li a.sub-item {
    color: #000;
}

/* ----------------------------------------
# Main page
---------------------------------------- */
section .page-container{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
section .page-container .page-title{
    font-size: 7rem;
    color: #ffffff;
    text-align: center;
    padding: 2.5rem;
    font-family: 'Sofia', cursive;
}

/* ----------------------------------------
# Pintura - page
---------------------------------------- */
#main-pintura {
    height: 100vh;
    background-image: linear-gradient(to right top, #2f4858, #00738c, #00a2a5, #00cf99, #25f96a);
}

/* ----------------------------------------
# Oleo - page
---------------------------------------- */
#main-oleo{
    height: 30rem;
    background: linear-gradient(rgba(2, 0, 9, 0.95), rgba(91, 94, 44, 0.7)), url("https://mott.pe/noticias/wp-content/uploads/2018/11/conoce-un-poco-mas-de-las-tecnicas-para-pintar-al-oleo-para-principiantes.png") center;
    background-size: cover;
    position: relative;
}

/* ----------------------------------------
# Encaustica - page
---------------------------------------- */
#main-encaustica{
    height: 30rem;
    background: linear-gradient(rgba(2, 0, 9, 0.95), rgba(91, 94, 44, 0.7)), url("https://angeladearte.files.wordpress.com/2016/06/fe2e27_f9ac99b6f7fe454cbd77bf28fd038e91-mv2.jpg?w=440") center;
    background-size: cover;
    position: relative;
}

/* ----------------------------------------
# Acuarela - page
---------------------------------------- */
#main-encaustica{
    height: 30rem;
    background: linear-gradient(rgba(2, 0, 9, 0.95), rgba(91, 94, 44, 0.7)), url("https://mott.pe/noticias/wp-content/uploads/2018/01/Portada.jpg") center;
    background-size: cover;
    position: relative;
}

/* ----------------------------------------
# Tempera - page
---------------------------------------- */
#main-tempera{
    height: 30rem;
    background: linear-gradient(rgba(2, 0, 9, 0.95), rgba(91, 94, 44, 0.7)), url("https://i.ytimg.com/vi/SoMcSCdPdZE/maxresdefault.jpg") top;
    background-size: cover;
    position: relative;
}

/* ----------------------------------------
# Acrilico - page
---------------------------------------- */
#main-acrilico{
    height: 30rem;
    background: linear-gradient(rgba(2, 0, 9, 0.95), rgba(91, 94, 44, 0.7)), url("https://mymodernmet.com/wp/wp-content/uploads/2019/01/acrylic-painting-techniques-1.jpg") center;
    background-size: cover;
    position: relative;
}

/* ----------------------------------------
# Pastel - page
---------------------------------------- */
#main-pastel{
    height: 30rem;
    background: linear-gradient(rgba(2, 0, 9, 0.95), rgba(91, 94, 44, 0.7)), url("https://i.pinimg.com/564x/e2/54/24/e25424b4b77ef111c39c2034182093f6.jpg") center ;
    background-size: cover;
    position: relative;
}