* {
    box-sizing: border-box;
}
*:target {
    background: hsla(60, 100%, 50%, 0.4);
}
:root{
    --greenColor1: #25F96A;
    --greenColor2: #00D893;
    --blueColor1: #00B4A5;
    --blueColor2: #008F9F;
}
body {
    font-family: Arial;
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}
section {
    padding: 1rem;
    position: relative;
}
section[class~="bg"]{
    background: url("https://images.unsplash.com/photo-1517816743773-6e0fd518b4a6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80") top center ;
    background-size: cover;
}
section .content .container p::first-letter {
    color: hsl(0,100%,50%);
    font-size: 150%;
}
a.btn-primary {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    background-color: rgb(0, 180, 165, 0.7);
    border-radius: 0.8rem;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
    border: 0px;
    margin-top: 0.1rem;
}
input[class='btn-success'] {
    text-decoration: none;
    width: 100%;
    padding: 10px;
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
    background-color: green;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
    border: 0px;
    margin-top: 0.1rem;
}
a.btn-primary:hover{
    color: rgb(0, 0, 0, 0.7);
    background-color: rgb(0, 180, 165);
    cursor: pointer;
}
input[class='btn-success']:hover {
    color: rgb(0, 0, 0, 0.7);
    background-color: greenyellow;
    cursor: pointer;
}
.text-center {
    text-align: center;
}
.center {
    display: block;
    margin: auto;
    max-width: 50%;
}
.text-justify {
    text-align: justify;
}
.text-white {
    color: #fff;
}
div.bg-color1 {
    background-color: #00B4A5
}
div.bg-color2 {
    background-color: var(--blueColor2);
}
th[class*='color1']{
    background-color: var(--blueColor1);
}
th[class*='color2'] {
    background-color: var(--blueColor2);
}
.rounded {
    border-radius: 0.8rem;
}
h2{
    font-size: 2rem;
}
h5 {
    font-size: 1.5rem;
}
h6 {
    font-size: 1.35rem;
}
p {
    font-size: 1.2rem;
}
p:nth-of-type(n+2) {
    font-weight: bold;
}
a:link {
    font-size: 1.5rem;
}
a[href^="http"]:visited {
    color:red;
}
a[href^="http"]:active {
    background: yellow;
}
/* ----------------------------------------
# Indice - design
---------------------------------------- */
section.indice ul {
    margin-left: -2rem;
}
section.indice ul li {
    margin: 0.8rem;
}
section.indice ul > li:first-child a {
    color: green;
    font-weight: bold;
}
section.indice ul > li:last-child a {
    color: blueviolet;
    font-weight: bold;
}
section.indice ul li a:hover {
    color: #ff0000;
}
section.indice > h2 {
    margin: 0;
}

/* ----------------------------------------
# Indice More - design
---------------------------------------- */
section.more > h2 {
    margin: 0;
}

/* ----------------------------------------
# Indice Novelties - design
---------------------------------------- */
section.novelties > h2{
    margin: 0;
}

/* ----------------------------------------
# Flex - design
---------------------------------------- */
.main-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 7rem 0 7rem;
}
.main {
    flex: 65%;
    background-color: white;
    padding: 20px;
}
aside {
    flex: 35%;
    background-color: #f1f1f1;
    padding: 20px;
    height: 100%;
    margin-top: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%), 0px 0px 7px 5px rgb(0 0 0 / 10%);
}
.content {
    display: flex;
    flex-wrap: wrap;
}
.container {
    padding: 1rem;
}
.container.size-1 {
    flex: 25%;
}
.container.size-2 {
    flex: 50%
}
.container.size-3 {
    flex: 75%
}
.container.size-4{
    flex: 100%
}
@media screen and (max-width: 800px) {
    .content {
      flex-direction: column;
    }
}

/* ----------------------------------------
# Lists - design
---------------------------------------- */
li span {
    font-weight: bold;
    text-transform:uppercase;
}
ol li:nth-last-of-type(2n+1) {
    color: green;
    font-weight: bold;
}
ol li ul li:only-child {
    background: #f9f9f9;
}
ol li ul li a[href$='.html']:last-of-type {
    background: red;
}
ol li ul li div {
    background: pink;
    height: 1.3rem;
    width: 8rem;
}
ol li ul li div:empty {
    background: teal;
}
/* ----------------------------------------
# Table - design
---------------------------------------- */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
table caption {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
th, td {
    border: 0.2rem solid;
    border-color: #000;
    border-style: dotted;

}
table thead tr th[class] {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    width: 1rem;
    color: #fff;
}
table tbody tr:nth-child(2n+1) {
    color: green;
}
table tbody tr:nth-last-child(-n+1){
    color: #fff;
}
table tbody tr:last-of-type {
    background: coral;
}

table tbody tr td {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5em;
}
table tbody tr td:first-of-type {
    font-weight: bold;
}
table tfoot {
    font-size: 1.5rem;
}
table tfoot tr td {
    padding: 1rem;
}
table tfoot tr td {
    text-align: center;
    padding: 0.2em;
}

/* ----------------------------------------
# Card 1 - design
---------------------------------------- */
div[class|='cards'] {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-flow: wrap;
}
.card {
    margin: 0.5rem;
    width: 12rem;
    height: 12rem;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.1), -5px -5px 30px 7px rgba(0,0,0,0.1);
}

.card .card-image {
    width: inherit;
    height: inherit;
    border-radius: 0.8rem;
}
.card .card-image img {
    width: inherit;
    height: inherit;
    border-radius: 0.8rem;
    object-fit: cover;
}
.card .card-title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-top: -5rem;
    height: 40px;
    transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    text-shadow: 0rem 0rem 1rem black, 0 0 1rem black, 0 0 1rem black;
}
.card .card-button {
    margin-top: 0;
    text-align: center;
    display: none;
}
.card:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.15), -5px -5px 30px 15px rgba(0,0,0,0.15);
    cursor: default;
}
.card:hover .card-title {
    margin-top: -9rem;
    transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    margin-bottom: 1.5rem;
}
.card:hover .card-button {
    display: block;
}
.card .card-title p {
    font-size: 1.8rem;
}

/* ----------------------------------------
# Card 2 - design
---------------------------------------- */
.card2 {
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.1), -5px -5px 30px 7px rgba(0,0,0,0.1);
    padding: 1rem;
}
.card2 .card-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}
.card2 .card-description {
    font-weight: bold;
    font-size: 1rem;
}
.card2:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.15), -5px -5px 30px 15px rgba(0,0,0,0.15);
}
.card2 ul {
    padding-right: 1.5rem;
}

/* ----------------------------------------
# Card 3 - design
---------------------------------------- */
.card3 {
    margin: 1.5rem;
    width: 20rem;
    height: 22rem;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.1), -5px -5px 30px 7px rgba(0,0,0,0.1);
}
.card3 .card-image {
    width: inherit;
    height: inherit;
    border-radius: 0.8rem;
}
.card3 .card-image img {
    width: inherit;
    height: inherit;
    border-radius: 0.8rem;
    object-fit: cover;
}
.card3 .card-title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-top: -10rem;
    height: 40px;
    text-shadow: 0rem 0rem 1rem black, 0 0 1rem black, 0 0 1rem black;
    transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.card3 .card-description {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 50px;
    height: 1rem;
    display: none;
    text-shadow: 0rem 0rem 1rem black, 0 0 1rem black, 0 0 1rem black;
    padding: 1rem;
}
.card3 .card-description p {
    font-size: 1rem;
}
.card3:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
        -5px -5px 30px 15px rgba(0,0,0,0.22);
}
.card3:hover .card-description {
    display: block;
}
.card3:hover .card-title {
    margin-top: -21rem;
    transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* ----------------------------------------
# Card 4 - design
---------------------------------------- */
.card4 {
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}
.card4:hover .image {
    transform: scale(1.2) rotate(3deg);
    opacity: 1;
}
.card4 .card-image {
    position: relative;
    z-index: 0;
    height: 10rem;
}
.card4 .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: 0.7s;
    opacity: 0.9;
}
.card4 .card-description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}
.card4 .card-description h2 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
    text-align: justify;
}
.card4 .card-description h3 {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
}
.card4 .card-description p {
    position: relative;
    margin: 1rem 0 0;
    font-size: 1rem;
    text-align: justify;
}

.card4 .card-description h2::first-line {
    background-color: var(--greenColor2);
}

/* ----------------------------------------
# Header
---------------------------------------- */
#header {
    transition: all 0.5s;
    z-index: 999;
    padding: 1rem 2rem;
    position: fixed;
    height: 5rem;
    width: 100%;
}
#header a[id^='logo'] {
    color: #fff;
}
#header.header-transparent {
    background: transparent;
}
#header.header-scrolled {
    padding: 0 8rem;
    background: var(--greenColor2);
    box-shadow: 0 0 0.8rem 0 #000;
}
#header a {
    font-size: 1.3rem;
    font-weight: 600;
}
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
#logo-header:hover {
    cursor: default;
}
#logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}
#logo-header .site-description {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
}
@media (max-width: 768px) {
    #header.header-scrolled {
      padding: 15px 0;
    }
}

/* ----------------------------------------
# Navbar
---------------------------------------- */
nav {
    float: right;
}
nav ul {
    padding: 0;
    list-style: none;
    padding-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 3rem;
}
nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 0.5em;
}
nav ul li a:hover {
    background: var(--blueColor1);
}

/* ----------------------------------------
# Dropdown
---------------------------------------- */
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 7rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
    border-radius: 0.6rem;
}
.dropdown-content a[href$=".html"] {
    color: black;
    padding: 0 1.4rem;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background: var(--blueColor1);
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* ----------------------------------------
# Main page
---------------------------------------- */
section .page-container{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
section .page-container h1.page-title{
    font-size: 8rem;
    color: #ffffff;
    text-align: center;
    padding: 2.5rem;
    font-family: 'Sofia', cursive;
}

section.techniques ul {
    margin: 0;
    list-style: outside;
}
section.techniques ul li {
    margin-bottom: 1rem;
}
section.techniques ul li p[class="subtitle"] {
    margin: 0;
    margin-bottom: 1rem;
    font-weight: bold;
}
section.techniques ul li::marker {
    list-style: disc;
}

/* ----------------------------------------
# Pintura - page
---------------------------------------- */
#main-pintura {
    height: 100vh;
    background-size: cover;
    position: static;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(2, 0, 9, 0.4), rgba(2, 0, 9, 0.4)), url('https://images.unsplash.com/photo-1580089056071-11f31b94fefe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=753&q=80');
}

/* ----------------------------------------
# Oleo - page
---------------------------------------- */
#main-oleo{
    height: 30rem;
    background: linear-gradient(rgba(2, 0, 9, 0.95), rgba(91, 94, 44, 0.7)), url("https://mott.pe/noticias/wp-content/uploads/2018/11/conoce-un-poco-mas-de-las-tecnicas-para-pintar-al-oleo-para-principiantes.png") center;
    background-size: cover;
    position: relative;
}

/* ----------------------------------------
# Encaustica - page
---------------------------------------- */
#main-encaustica{
    height: 30rem;
    background: linear-gradient(rgba(2, 0, 9, 0.95), rgba(91, 94, 44, 0.7)), url("https://angeladearte.files.wordpress.com/2016/06/fe2e27_f9ac99b6f7fe454cbd77bf28fd038e91-mv2.jpg?w=440") center;
    background-size: cover;
    position: relative;
}

/* ----------------------------------------
# Acuarela - page
---------------------------------------- */
#main-acuarela{
    height: 30rem;
    background: linear-gradient(rgba(2, 0, 9, 0.95), rgba(91, 94, 44, 0.7)), url("https://mott.pe/noticias/wp-content/uploads/2018/01/Portada.jpg") center;
    background-size: cover;
    position: relative;
}

/* ----------------------------------------
# Tempera - page
---------------------------------------- */
#main-tempera{
    height: 30rem;
    background: linear-gradient(rgba(2, 0, 9, 0.95), rgba(91, 94, 44, 0.7)), url("https://i.ytimg.com/vi/SoMcSCdPdZE/maxresdefault.jpg") top;
    background-size: cover;
    position: relative;
}

/* ----------------------------------------
# Acrilico - page
---------------------------------------- */
#main-acrilico{
    height: 30rem;
    background: linear-gradient(rgba(2, 0, 9, 0.95), rgba(91, 94, 44, 0.7)), url("https://mymodernmet.com/wp/wp-content/uploads/2019/01/acrylic-painting-techniques-1.jpg") center;
    background-size: cover;
    position: relative;
}

/* ----------------------------------------
# Pastel - page
---------------------------------------- */
#main-pastel{
    height: 30rem;
    background: linear-gradient(rgba(2, 0, 9, 0.95), rgba(91, 94, 44, 0.7)), url("https://i.pinimg.com/564x/e2/54/24/e25424b4b77ef111c39c2034182093f6.jpg") center ;
    background-size: cover;
    position: relative;
}

/* ----------------------------------------
# Footer
---------------------------------------- */
footer {
  background-color:#3d414e;
  padding: 1rem 10rem;
  font-size:15px;
  line-height:24px;
  color:#c4c4c4;
}
footer.site-footer hr{
  border-top-color: #fff;
  opacity: 0.5;
}
footer.site-footer h6 {
  color:#fff;
  font-size: 1.2rem;
  text-transform:uppercase;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
footer.site-footer a {
  color:#979797;
}
footer.site-footer a:hover {
  color:#2eaab3;
  text-decoration:none;
}
ul.footer-links {
  padding-left:0;
  list-style:none
}
ul.footer-links li {
  display: block;
  line-height: 2rem;
}

/* ----------------------------------------
# Form Footer
---------------------------------------- */
form.form-footer{
    margin-top: 20px;
}
form.form-footer input.form-control {
    width: 100%;
    height: 2.5rem;
    background-color: #979797;
    border-radius: 0.8rem;
    padding-left: 1rem;
    outline: none;
}
form.form-footer input.form-control:focus,
form.form-footer textarea.form-control:focus {
    background: #fff;
}
form.form-footer textarea.form-control {
    width: 100%;
    height: 100px;
    border-radius: 0.8rem;
    background-color:#979797;
    padding: 1rem;
    outline: none;
}